nav, article {
	text-align: center;
}
#contents {
	display: block;
	margin-bottom: 0 !important;
	position: relative;
	word-wrap: break-word;
	word-break: break-all;
	animation-name: focus-in;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
@media screen and (max-width: 500px) {
	/*mobile*/
	#contents {
		width: 85%;
		margin: 4rem auto;
	}
}
@media screen and (min-width: 501px) {
	/*Desktop*/
	#contents {
		width: 550px;
		margin: 4rem auto;
		/*수정예정입니다.*/
	}
}
@keyframes focus-in {
	0% {
		opacity: 0;
		filter: blur(3px);
		left: 15vh;
	}
	100% {
		opacity: 1;
		filter: blur(0);
		left: 0;
	}
}
.focus-out {
	animation-name: focus-out !important;
	animation-duration: 0.2s !important;
	animation-fill-mode: forwards !important;
}
@keyframes focus-out {
	100% {
		opacity: 0;
		filter: blur(3px);
	}
}
body.focus-out {
	animation-name: body-focus-out !important;
	animation-duration: 0.2s !important;
	animation-fill-mode: forwards !important;
}
@keyframes body-focus-out {
	100% {
		background: white;
	}
}
#back-button {
	font-size: 0.9rem;
	position: fixed;
	bottom: 1rem;
	left: 1rem;
	background: rgba(198,198,198,0.8);
	padding: 0.7rem;
	border-radius: 10px;
}
.post {
	max-width: 95%;
	background: white;
	font-size: 0.75rem;
	margin: 1rem auto;
	border-radius: 7.5px;
	padding: 0.5rem;
	box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.StalinistOne {
	font-family: 'StalinistOne', 'Stalinist One', cursive !important;
}
