nav{
	text-align: center;
}
article {
	text-align: left;
}
h1, h2, h3, h4, h5, h6 {
	text-align: center;
}
hr {
	border: none;
	border-top: 1px solid black;
	margin: 1rem auto;
}
#contents {
	display: block;
	font-size: 0.9rem;
	max-width: 85% !important;
	margin: 4rem auto;
	position: relative;
	word-wrap: break-word;
	word-break: break-all;
	animation-name: focus-in;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
@media screen and (min-width: 750px) {
	#contents {
		max-width: 700px !important;
	}
}
@keyframes focus-in {
	0% {
		opacity: 0;
		filter: blur(3px);
		left: 15vh;
	}
	100% {
		opacity: 1;
		filter: blur(0);
		left: 0;
	}
}
.focus-out {
	animation-name: focus-out !important;
	animation-duration: 0.2s !important;
	animation-fill-mode: forwards !important;
}
@keyframes focus-out {
	100% {
		opacity: 0;
		filter: blur(3px);
	}
}
body.focus-out {
	animation-name: body-focus-out !important;
	animation-duration: 0.2s !important;
	animation-fill-mode: forwards !important;
}
@keyframes body-focus-out {
	100% {
		background: white;
	}
}
body.focus-out-black {
	animation-name: body-focus-out-black !important;
	animation-duration: 0.2s !important;
	animation-fill-mode: forwards !important;
}
@keyframes body-focus-out-black {
	100% {
		background: black;
	}
}
#back-button {
	font-size: 0.9rem;
	position: fixed;
	bottom: 1rem;
	left: 1rem;
	background: rgba(198,198,198,0.8);
	padding: 0.7rem;
	border-radius: 10px;
}
.box-underline {
	padding-bottom: 0.3rem;
	border-bottom: solid black 1px;
	margin-bottom: 0.3rem
}
.post {
	max-width: 95%;
	background: white;
	margin: 1rem auto;
	border-radius: 3px;
	padding: 1rem;
	box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.StalinistOne {
	font-family: 'StalinistOne', 'Stalinist One', cursive !important;
}
