body{
	background-color: white;
}
.content{
	width: 100%;
	height: 100vh;
	word-wrap: break-word;
	word-break: keep-all;
}
.font_logo{
	font-family: 'StalinistOne', 'Stalinist One', cursive !important;;
}
.section_content{
	margin:auto;
	text-align: center;
	word-wrap: break-word;
	word-break: keep-all;
}
.section_details{
	margin:auto;
	word-wrap: break-word;
	word-break: keep-all;
	font-family: 'NanumGothic', 'Nanum Gothic' !important;;
}

.subtitle{
	font-weight: 800;
}
.section{
	text-align: center;
}
