.section_details{
	margin:auto;
	width: 85%;
	line-height:1.8em;
	font-size: 0.8em;
}
.subtitle{
	font-weight: 800;
	font-size: 1.3em;
	font-family: 'NanumGothic', 'Nanum Gothic' !important;;
}
.button{
	font-size: 1em;
	padding: 10px;
}
