@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(//fonts.googleapis.com/css?family=Stalinist+One);
html {
 font-family: 'Nanum Gothic', sans-serif;
}
.Stalinist.One{
  font-family: 'Stalinist One', cursive;
}
body {
  height: 100%;
  margin: 0;
  background: gray;
  background: linear-gradient(#4C4C4C, #000000);
}
canvas {
  background: black;
}
.p10 {
  width: 10%;
  height: auto;
  margin: 2rem 45% 0 45%;
}
.p20 {
  width: 20%;
  height: auto;
  margin: 2rem 40% 0 40%;
}
.p30 {
  width: 30%;
  height: auto;
  margin: 2rem 35% 0 35%;
}
.p40 {
  width: 40%;
  height: auto;
  margin: 2rem 30% 0 30%;
}
.p50 {
  width: 50%;
  height: auto;
  margin: 2rem 25% 0 25%;
}
.p60 {
  width: 60%;
  height: auto;
  margin: 2rem 20% 0 20%;
}
.p70 {
  width: 70%;
  height: auto;
  margin: 2rem 15% 0 15%;
}
.p80 {
  width: 80%;
  height: auto;
  margin: 2rem 10% 0 10%;
}
.p90 {
  width: 90%;
  height: auto;
  margin: 2rem 5% 0 5%;
}
.p100 {
  width: 100%;
  height: auto;
  margin: 2rem 0 0 0;
}
#include {
  margin: 0;
  padding: 0;
  display: none;
}
#include img {
  width: 1000px;
  height: 600px;
}
article {
  text-align: center;
  width: 100%;
  color: white !important;
}
.center {
  text-align: center !important;
}
